@tailwind base;
@tailwind components;
@tailwind utilities;

.home-button {
  position: relative; /* Needed to position the pseudo-element */
  display: inline-block; /* To fit the text width */
  z-index: 1;
  background: transparent;
}

.home-button::after {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100vw - 48px);
  top: 0;
  left: 0;
  z-index: -1;

  border-radius: 15px;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6px);
}

.bg-type-name {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    rgba(255, 255, 255, 0.3); /* Overlay gradient */
  backdrop-filter: blur(4px);
}

.input-div {
  background-color: white;
  border-radius: 42px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.input-div .input-tag {
  color: #979797;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  outline: none;
}

.gradient-main{
  border-width: 1px;
  /* border-width: 1px; */
  border-style: solid;
  border-radius: 12px;
  /* border-image: linear-gradient(45deg, yellow 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 70%, pink 100%) 1; */
  border-image: linear-gradient(45deg, rgba(154,83,244,1) 0%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 70%, rgba(53,119,223,1) 100%) 1;
}

.gradient-other{
  border-radius: 301px;
  background: linear-gradient(180deg, #01FBFF -16%, #9403FF 111.5%);
  filter: blur(87.5px);
}